### Generate the following pattern
###	*
###	* * 
###	* * *
###	* * * *
###	* * * * *

In [3]:
for i in range(6):
  for j in range(i):
    print('*',end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

###Display multiplication table of K. Take k value from user
###	Ex:      7 x 1 =7
###  		7 x 2 = 14   .....

In [4]:
k=int(input())
for i in range(10):
  print(k,'*',i+1,'=',k*(i+1))

7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

### Roots of quadratic equation
### Take the coefficients a,b,c from the user

In [12]:
import math
a=int(input())
b=int(input())
c=int(input())
d=b**2-4*a*c
if d>0:
  print("Roots are:",(((-b)+math.sqrt(d))/(2*a)),((-b)-math.sqrt(d))/(2*a))
elif d==0:
  print("Roots are:",((-b)/2*a),((-b)/2*a))
else:
  print("Roots are imaginary")

1
-5
6
Roots are: 3.0 2.0

### Convert a decimal number to Binary

In [16]:
n=int(input())
res=""
while(n!=0):
  r=n%2
  n=n//2
  res=str(r)+res
print(res)

2
10

### Generate first N number of Fibonacci numbers. Take N value from the user

In [23]:
def Fib(n): 
  if n==1:
    return 0
  elif n==2:
    return 1
  else: 
    return Fib(n-1)+Fib(n-2) 
n=int(input())
for i in range(1,n+1):
  print(Fib(i),end=" ")

4
0 1 1 2