<a href="https://colab.research.google.com/github/SaiCharan29/AD/blob/master/Assignment(05_06_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSE-221710313019-K Sai Charan

In [0]:
import pandas as pd
import numpy as np

### [Data Series]
- Write a Python program to add, subtract, multiple and divide two Pandas Series. 
  - Sample Series: 
[2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
  - Sample Output:
[2, 4, 6, 8, 10] + [1, 3, 5, 7, 9] = [3, 7, 11, 15, 19]

In [25]:
s1=pd.Series([2,4,6,8,10])
s2=pd.Series([1,3,5,7,9])
print(str(list(s1)),"+",str(list(s2)),"=",str(list(s1+s2)))
print(str(list(s1)),"-",str(list(s2)),"=",str(list(s1-s2)))
print(str(list(s1)),"*",str(list(s2)),"=",str(list(s1*s2)))
print(str(list(s1)),"/",str(list(s2)),"=",str(list(s1/s2)))

[2, 4, 6, 8, 10] + [1, 3, 5, 7, 9] = [3, 7, 11, 15, 19]
[2, 4, 6, 8, 10] - [1, 3, 5, 7, 9] = [1, 1, 1, 1, 1]
[2, 4, 6, 8, 10] * [1, 3, 5, 7, 9] = [2, 12, 30, 56, 90]
[2, 4, 6, 8, 10] / [1, 3, 5, 7, 9] = [2.0, 1.3333333333333333, 1.2, 1.1428571428571428, 1.1111111111111112]

### [Quartiles] 
Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series. 
- Sample Output:
  - Original Series:
    - 0 3.000938
    - 1 11.370722
    - 2 14.612143
    - 3 8.990256
    - 4 13.925283
    - 5 12.056875
.... 17 14.118931
    - 18 8.247458
    - 19 5.526727
dtype: float64
  -Minimum, 25th percentile, median, 75th, and maximum of a given series:
    - [ 3.00093811 8.09463867 10.23353705 12.21537733 14.61214321]

In [26]:
s2=pd.Series([2,4,6,8,10])
m=s2.describe()
print(m[3:len(m)-1])

min    2.0
25%    4.0
50%    6.0
75%    8.0
dtype: float64

### [List Difference] 
Write a Pandas program to get the items of a given series not present in another given series. 
- Sample Output:
  -Original Series:
    - sr1:
      - 0 1
      - 1 2
      - 2 3
      - 3 4
      - 4 5
dtype: int64
    - sr2:
      - 0 2
      - 1 4
      - 2 6
      - 3 8
      - 4 10
      dtype: int64
    - Items of sr1 not present in sr2:
      - 0 1
      - 2 3
      - 4 5
dtype: int64

In [27]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([2,4,6,8,10])
a=[i for i in list(s1) if i not in list(s2)]
print(pd.Series(a))

0    1
1    3
2    5
dtype: int64

### [Filter Words with Multiple Vowels] 
Write a Pandas program to filter words from a given series that contain at least two vowels. 
- Sample Output:
  - Original Series:
      - 0 Red
      - 1 Green
      - 2 Orange
      - 3 Pink
      - 4 Yellow
      - 5 White
      - dtype: object

  - Filtered words:
      - 1 Green
      - 2 Orange
      - 4 Yellow
      - 5 White
      - dtype: object

In [28]:
s1=pd.Series(["Red","Green","Orange","Pink","Yellow","White"])
a=[]
for i in list(s1):
  c=0
  for j in i:
    if(j in list('aeiou')):
      c+=1
  if(c>=2):
    a.append(i)
print(pd.Series(a))

0     Green
1    Orange
2    Yellow
3     White
dtype: object

Consider the following as my DataFrame,Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [29]:
d={'name':['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],'attempts':[1,3,2,3,2,3,1,1,2,1],'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
df=pd.DataFrame(d)
print(df[df['attempts']>2])

      name  score  attempts qualify
1     Dima    9.0         3      no
3    James    NaN         3      no
5  Michael   20.0         3     yes